# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev/

# coverage
coverage/

# misc
.turbo/
apps/web/tsconfig.tsbuildinfo
